@font-face {
    font-family: 'Digital';
    src: url(../font/digital-7.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clock{
    max-width: 1200px;
    width: 100%;
    background-color: rgb(20, 20, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    border-radius: 18px;
}
.time {
    font-family: 'Digital', sans-serif;
    font-size: 180px;
    color: #1272a5;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin:auto;
}
.timeformat {
    font-family: 'Digital', sans-serif;
    font-size: 70px;
    color: #1272a5;
    background-color: rgb(20, 20, 24);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    
}
.clock h2 {
    font-family: 'Digital', sans-serif;
    font-size: 50px;
    color: #1272a5;
    margin: 20px 0;
}

/* slider */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
img {
	width: 100%;
    border-radius: 10px;

}
.wrapper {
	position: relative;
    border-radius: 10px;
}
.slider-wrapper {
	position: relative;
	height: 400px;
}
.slide-item {
	/* display: none; */
	position: absolute;
	opacity: 0;
	top: 0;
	left: -100%;
	width: 100%;
	transition: all 0.5s ease-in-out;
	z-index: -1;
}
.slide-item.active {
	/* display: block; */
	opacity: 1;
	z-index: 10;
	left: 0;
}
.slide-item img {
	height: 400px;
	object-fit: cover;
}

.next,
.prev {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 300px;
	height: 400px;
	cursor: pointer;
    border: none;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.441);
    background-color: transparent;
}
.next {
	right: 0px;
    text-align: right;
    padding-right: 20px;
}
.prev {
	left: 0px;
    text-align: left;
    padding-left: 20px;
}
.pgn-btns {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}
.pgn-btns button {
	width: 20px;
	height: 20px;
	background-color: grey;
	border-radius: 50%;
	cursor: pointer;
}

.pgn-btns button.active {
	background-color: black;
}
